apiVersion: v1
kind: Template
metadata:
  name: cloud-connector
objects:


- apiVersion: apps/v1
  kind: Deployment
  metadata:
    labels:
      app: cloud-connector
      pod: mosquitto-broker
    name: mosquitto-broker
  spec:
    replicas: 1
    selector:
      matchLabels:
          app: cloud-connector
          pod: mosquitto-broker
    revisionHistoryLimit: 10
    template:
      metadata:
        creationTimestamp: null
        labels:
          app: cloud-connector
          pod: mosquitto-broker
      spec:
        containers:
          - image: >-
              quay.io/cloudservices/eclipse-mosquitto@sha256:ec4c88bdd21e4edb5cd426224ce32b9375dfa17e0abf0006ec8a9bd1648df860
            imagePullPolicy: Always
            name: mosquitto-broker
            ports:
              - containerPort: 1883
                protocol: TCP
            resources:
              limits:
                cpu: '1'
                memory: 1Gi
              requests:
                cpu: 500m
                memory: 512Mi
            terminationMessagePath: /dev/termination-log
            terminationMessagePolicy: File
            #volumeMounts:
            #  - mountPath: /mosquitto/config
            #    name: mosquitto-broker-volume-1
            #  - mountPath: /mosquitto/data
            #    name: mosquitto-broker-volume-2
            #  - mountPath: /mosquitto/log
            #    name: mosquitto-broker-volume-3
            #  - mountPath: /mosquitto/config/certs
            #    name: mosquitto-certs
        dnsPolicy: ClusterFirst
        imagePullSecrets:
          - name: quay-cloudservices-pull
        restartPolicy: Always
        schedulerName: default-scheduler
        securityContext: {}
        terminationGracePeriodSeconds: 30
        #volumes:
        #  - configMap:
        #      defaultMode: 420
        #      items:
        #        - key: mosquitto.conf
        #          path: mosquitto.conf
        #        - key: mosquitto.acl
        #          path: mosquitto.acl
        #      name: mosquitto-config
        #    name: mosquitto-broker-volume-1
        #  - emptyDir: {}
        #    name: mosquitto-broker-volume-2
        #  - emptyDir: {}
        #    name: mosquitto-broker-volume-3
        #  - name: mosquitto-certs
        #    secret:
        #      defaultMode: 420
        #      secretName: rhc-cert
  
